@media screen and (max-width: 900px) {
    .Carrusel-Container{
        width: 100%;
        height: 500px;
    }
    .Imagen{
        width: 100%;
        height: 100%;
        overflow: hidden;
        line-height: 100%;
        background-position: center;
        text-align: center;
    }
    .Imagen img{
        position: relative;
        right: 15%;
        width: 150%;
        height: 100%;
        object-fit: cover;
        vertical-align: middle;
        
    }
    .Navegador-container{
        display: none;
    }
    .Navegador-icon{
        display: inline-block;
        margin: auto 10% auto auto;
        font-size: large;
    }
}